@model ApprovedBlogVM

@{
    ViewData["Title"] = "MyBlog";
}

<form asp-controller="MyBlogs" asp-action="Search" style="display:inline-block">
    <div class="d-flex gap-2" style="margin-bottom: 20px;">
        <span>
            <select asp-items="Html.GetEnumSelectList<BlogStatus>()" class="form-control" name="search">
                <option value="">Search</option>
            </select>
        </span>
       
        <button class="g-3" type="submit" value="Search"><i class="bi bi-search"></i></button>
    </div>
  
</form>

<div style="margin-bottom: 20px;">
    <a asp-action="CreateNewBlog" asp-controller="Home" class="btn btn-primary">Publish New Blog</a>
</div>
<table class="table">
    <thead>
        <tr>
            <th width="600px">Content</th>
            <th>CreatedDate </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model.ApprovedBlogs.Take(5))
        {            
            <tr>
                <td  width="600px"> @item.Content.Substring(0,10)</td>
                <td> @item.CreatedDate</td>
                <td><a asp-controller="Home" asp-action="SpecificBlog" asp-route-id="@item.Id" class="btn btn-success">See More</a></td>
            </tr>
        }
    </tbody>
</table>

@if (Model.ApprovedBlogs.Count() > 5)
{
    <a asp-action="Index" asp-controller="MyBlogs" asp-route-skip="@(Model.ItemNumber + 5 )" class="btn btn-primary">Load More</a>
}
@* else{
    <a asp-action="LoadMore" asp-controller="Home" asp-route-Number="@(Model.ItemNumber - 10)" class="btn btn-primary">Load Less</a>
} *@

