@model SpecificBlogViewModel

@{
	ViewData["title"] = Model.ApprovedBlog?.Id;
}

<h1></h1>
<hr />

<dl class="row">

	<dt class="col-sm-2">
		Published Date :
	</dt>
	<dd class="col-sm-10">
		@Model.ApprovedBlog?.PublishedDate
	</dd>

	<dt class="col-sm-2">
		Author :
	</dt>
	<dd class="col-sm-10">
		@Model.ApprovedBlog?.CreatedBy
	</dd>

	<dt class="col-sm-2">
		Content :
	</dt>
	<dd class="col-sm-10">
		@Model.ApprovedBlog?.Content
	</dd>
</dl> 

<!--Like-->
<a asp-controller="BlogPostReaction"  asp-action="Likes" asp-route-myUserName="@User.Identity.Name" asp-route-postId="@Model.ApprovedBlog.Id" asp-route-expression="@Expression.Like">
	@{
		if (Model.ApprovedBlog.Reactions.Any(x => x.MyUserId == Model.UserId && x.Expression == Expression.Like))
		{
			<i class="bi bi-hand-thumbs-up-fill"></i>
		}

		else
		{
			<i class="bi bi-hand-thumbs-up"></i>
		}

	}
</a>
<span>@(Model.ApprovedBlog.Reactions.Where(x => x.Expression == Expression.Like).Count())</span> 

<!--DisLike-->
<a asp-controller="BlogPostReaction" asp-action="Likes" asp-route-myUserName="@User.Identity.Name" asp-route-postId="@Model.ApprovedBlog.Id" asp-route-expression="@Expression.Dislike">
@{
	if(Model.ApprovedBlog.Reactions.Any(x => x.MyUserId == Model.UserId && x.Expression == Expression.Dislike))
	{
		<i class="bi bi-hand-thumbs-down-fill"></i>
	}
	else{
			<i class="bi bi-hand-thumbs-down"></i>
	}
}
</a>
<span>@(Model.ApprovedBlog.Reactions.Count(x => x.Expression == Expression.Dislike))</span>

<br />
<span class="fw-bold">Comments</span>
<form asp-controller="BlogPostReaction" asp-action="Comments" asp-route-PostId="@Model.ApprovedBlog.Id">

	<textarea type="text" name="Comment" class="form-control"></textarea>
	<br />
	<button type="submit" value="comment" class="btn btn-primary">Comment</button>
</form>
@foreach (var eachComment in Model.ApprovedBlog.PostComments)
{
	<hr />
	<span class="fw-bold">@eachComment.Name </span>
	<span> 	--> &nbsp;@eachComment.Comment</span>
	<hr />
}
