@model List<PendingBlog>

@{    
	ViewData["Title"] = "Index";
}

<h1>Pending Blogs</h1>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Content</th>
            <th>CreatedDate </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td> @item.Id</td>
                <td> @item.Content.Substring(0,10)</td>
                <td> @item.CreatedDate</td>
                <td>
                    <a asp-action="Approved" asp-route-id="@item.Id" class="btn btn-success">Approved</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger" >Discard</a>
                </td>
            </tr>
        }
    </tbody>
</table>

