@model IEnumerable<MyUser>
@{
    ViewData["Title"] = "User List";
}
<h1>Blogger </h1>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>UserName</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {            
            <tr>
                <td> @item.Id</td>
                <td> @item.Name</td>
                <td> @item.UserName</td>
                @if(item.LockoutEnd != null)
                {
                    <td>
                        <a class="btn btn-success" asp-action="Permission" asp-route-id="@item.Id">UnBlock</a>
                    </td>
                }
                else{
                    <td>
                        <a class="btn btn-danger" asp-action="Permission" asp-route-id="@item.Id">Block</a>
                    </td>
                }
            </tr>                      
        }
    </tbody>
</table>
<p class="text-danger fw-bolder">@ViewData["Error"]</p>

